{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": true
    },
    "transform": {
      "legacyDecorator": true
    }
  },
  "module": {
    "type": "commonjs"
  },
  "env": {
    "target": "node"
  }
}
